* {
  margin: 0;
  box-sizing: border-box;
}
header{
  height: 8vh;
}
main{
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div{
  text-align: center;
}
.search{
  width:35vw;
  height: 40px;
  border: 1px solid #000;
  border-radius: 30px;
  margin: 0px auto;
  position: relative;
}
input{
  width: 80%;
  height: 100%;
  border: 0px;
  outline: none;
}
.search_icon{
  top:9px;
  left:10px;
  position: absolute;
  
}
.keyboard{
  top:8px;
  right:105px;
  position: absolute;
}
.microphone{
  top:8px;
  right:65px;
  position: absolute;
}
.camera{
  top:8px;
  right:20px;
  position: absolute;
}
footer{
  height: 14vh;
}